h1 {
  font-family: "Karma", serif;
  font-weight: 700;
  font-size: 60px;
}
h2 {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 44px;
  opacity: 0.8;
}
.center {
  text-align: center;
}
p {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-size: 30px;
}
