:root {
  --branding-color: #002149;
  --secondary-color: #d5e9ea;
  --heading-font-family: "Karma", serif;
  --default-font-family: "Zilla Slab", serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 72px;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 0;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 10px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 36px;
  opacity: 0.8;
}

.content-container {
  padding: 110px 20px;
}

.content-me {
  background-color: var(--secondary-color);
  padding-top: 50px;
}

.content h1 {
  font-size: 47px;
  line-height: 1.1;
}

.content h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 20px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content {
  margin: 30px;
}

.my-cat {
  display: block;
  margin: auto;
}

.content-hobbies {
  margin-top: 150px;
}

.content-p {
  font-size: 16px;
}

.my-hobbies {
  display: block;
  margin: auto;
}

.subheading {
  font-size: 16px;
}

.btn-branding {
  border-radius: 4px;
  color: white;
  background: var(--branding-color);
  font-size: 17px;
  padding: 15px 30px;
  line-height: 27px;
}

.feature {
  font-size: 20px;
}

.btn-branding-outline {
  font-size: 17px;
  padding: 15px 30px;
  line-height: 27px;
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-weight: 500;
  background-color: var(--secondary-color);
}

.project-description {
  padding: 120px 60px;
}

.translation-description {
  padding: 60px 60px;
}

@media (max-width: 992px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero p {
    font-size: 24px;
  }

  h2 {
    font-size: 40px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    padding: 60px 20px;
  }

  .content {
    text-align: center;
    padding: 25px;
  }

  .content h1 {
    font-size: 45px;
  }

  .content-hobbies {
    margin-top: 50px;
  }
  .content-me {
    padding-bottom: 50px;
    padding-top: 0;
  }
  .projects-heading {
    font-size: 40px !important;
  }
}
